In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Augustin,CA,2022-03-26 23:54:04,51.2260,-58.6502,32.07,98,100,14.88
1,1,Thompson,CA,2022-03-26 23:51:10,55.7435,-97.8558,3.36,43,0,14.97
2,2,Busselton,AU,2022-03-26 23:54:04,-33.6500,115.3333,64.09,74,89,19.10
3,3,Bluff,NZ,2022-03-26 23:54:04,-46.6000,168.3333,58.62,73,59,2.06
4,4,Gilgit,PK,2022-03-26 23:54:05,35.9221,74.3087,46.78,44,0,4.05

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Santa Catalina,PH,2022-03-26 23:54:05,9.3337,122.8637,79.68,80,100,1.99
7,7,Am Timan,TD,2022-03-26 23:54:06,11.0297,20.2827,80.33,15,85,7.81
10,10,Souillac,MU,2022-03-26 23:54:07,-20.5167,57.5167,79.18,83,40,8.05
12,12,Kapaa,US,2022-03-26 23:54:07,22.0752,-159.3190,82.38,63,12,5.99
13,13,San Pedro De Macoris,DO,2022-03-26 23:54:08,18.4616,-69.2972,80.73,74,79,8.55
17,17,Lakhtar,IN,2022-03-26 23:54:09,22.8500,71.7833,81.12,37,3,10.00
18,18,Harper,LR,2022-03-26 23:54:09,4.3750,-7.7169,79.86,88,96,5.93
20,20,Puerto Ayora,EC,2022-03-26 23:54:10,-0.7393,-90.3518,78.85,82,68,6.93
22,22,Kahului,US,2022-03-26 23:54:10,20.8947,-156.4700,75.97,84,92,8.99
24,24,Taoudenni,ML,2022-03-26 23:54:11,22.6783,-3.9836,82.11,14,36,9.15

In [20]:
# Check for null values
preferred_cities_df.count()

City_ID       159
City          159
Country       159
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
5         Santa Catalina      PH     79.68   9.3337  122.8637
7               Am Timan      TD     80.33  11.0297   20.2827
10              Souillac      MU     79.18 -20.5167   57.5167
12                 Kapaa      US     82.38  22.0752 -159.3190
13  San Pedro De Macoris      DO     80.73  18.4616  -69.2972
17               Lakhtar      IN     81.12  22.8500   71.7833
18                Harper      LR     79.86   4.3750   -7.7169
20          Puerto Ayora      EC     78.85  -0.7393  -90.3518
22               Kahului      US     75.97  20.8947 -156.4700
24             Taoudenni      ML     82.11  22.6783   -3.9836

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Santa Catalina,PH,79.68,9.3337,122.8637,BreakWater Beach Sta Catalina Negros Oriental
7,Am Timan,TD,80.33,11.0297,20.2827,Palais du chef Canton Salamt
10,Souillac,MU,79.18,-20.5167,57.5167,Shanti Maurice Resort & Spa
12,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,San Pedro De Macoris,DO,80.73,18.4616,-69.2972,Apartahotel Guaraguao

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))